#categories-container {
  margin-top: var(--gap-small);
  display: flex;
  flex-direction: column;
  gap: var(--gap-tiny);
}

.category-card-anchor-container {
  color: var(--text-color);
  text-decoration: none;
}

.category-card {
  background-color: var(--bg-element-color);
  border-radius: var(--rounding);
  padding: var(--element-padding-vertical) var(--element-padding-horizontal);
}

.category-description {
  color: var(--text-color-muted);
}

.category-card:hover {
  outline-width: 1px;
  outline-style: groove;
  outline-color: var(--primary-color);
  color: var(--text-color)
}